// Your custom SCSS should be written here...

$splash-font: 'Ubuntu', sans-serif;
$splash-font-colour: white;

#splash-page {

	h1, h2, h3, h4, h5, p {
		font-family: $splash-font;
		color: $splash-font-colour;
		text-align:justify;
		text-justify:inter-word;
	}
	h2 {
		font-weight: 700;
	}

}

body {
	background: url("img/splashpage.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#margincorrect {
	margin-top: 50px;
}

#marginfields {
	margin-top: 35px;
}

#margintext {

	font-family: $splash-font;
	color: #444444;

}
